<a href="/">Back to Workspaces</a>

<h1>New Workspace</h1>

<form action="/workspaces" method="POST">
  <label for="topic">Topic</label>
  <input type="text" id="topic" name="topic" required />
  <label for="content">Content</label>
  <textarea id="content" name="content" cols="60" rows="20"></textarea>
  <button type="submit">create</button>
</form>
