<a href="/">Back to Workspaces</a>

<div id="meeting-container">
  <video id="meeting-stream" data-access-key="{{.AccessKey}}" autoplay></video>

  <div id="meeting-controls">
    <button id="mute-video">mute video</button>
    <button id="mute-audio">mute audio</button>
    <button id="record">record</button>
  </div>

  <ul id="meeting-log"></ul>
</div>

<script src="/assets/eyeson.js"></script>
<script src="/assets/meeting.js"></script>
