<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MeetDuck - Producktive Meetings</title>

    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/assets/logo-header.png" id="logo-header" alt="header logo" height="80px" />
      </a>
    </header>

    <main>
      {{embed}}
    </main>
  </body>
</html>
